html,body {
	margin:0;
	padding:0;
	color:#000;
	background:#fff;
}
body {
	padding:1em 0;
	font:76%/1.5 "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Helvetica,Arial,sans-serif;
}
h1,h2,h3,h4,h5,h6 {
	margin:0 0 0.5em;
	color:#444;
	font:normal 1em/1.2 Georgia,Times,serif;
}
h1 {font-size:2em;}
h2 {font-size:1.5em;}
h3 {font-size:1.2em;}
p {margin:0 0 1em;}
a:link {color:#8f1f08;}
a:visited {color:#5f1406;}
a:hover,
a:focus,
a:active {
	color:#800000;
	background-color:#e3e0d1;
}
code,
kbd {font-family:Monaco,"Courier New",Tahoma}
.clearfix:after {
	display:block;
	visibility:hidden;
	clear:both;
	height:0;
	content:".";
}
* html .clearfix {height:1px;} /* * html hack for IE pre 7 used for convenience in this demo */
.clearfix {display:inline-block;}
.clearfix {display:block;}
.structural {
	position:absolute;
	left:-9999px;
}
#labfooter {
	clear:both;
	margin-top:0.5em;
	padding-top:0.5em;
	border-top:1px solid #ccc;
	text-align:center;
}
.code {
	margin:1em 0;
	padding:3px 5px 3px 3em;
	border:1px solid #98be10;
	list-style-type:decimal-leading-zero;
	font-family:Courier;
}
.code code {font-family:Monaco,"Courier New",Tahoma}
.code li {
	margin:2px 0;
	padding:0 5px;
	background:#f7f7f5;
}
.code li.tab1 {padding-left:4ex}
.code li.tab2 {padding-left:8ex}
.code li.tab3 {padding-left:12ex}
.code li.tab4 {padding-left:16ex}
.code li.tab5 {padding-left:20ex}
.code .changed {
	color:#900;
	font-weight:bold;
}
.code em {
	color:#900;
	font-weight:bold;
	font-style:normal;
}
